<%- include('../template/header', {title: "Python kiegészítő"}) %>
<% if (typeof hiba == "undefined") hiba = 0 %>

<div class="row login-parent my-3">
  
  <%- include('../template/navbar', {active: 2}) -%>

  <div class="col-12 col-lg-10 h-100 pt-3 pt-lg-0">
    <div class="content">
      <h3>Új dolgozat létrehozása</h3>
      <div class="login-item pt-5">

        <label for="nev">Dolgozat megnevezése:</label>
        <input type="text" id="nev"><br>

        <label for="osztaly" class="mt-2">Osztály kiválasztása:</label>
        <select name="cars" id="osztaly">
          <% for (osztaly of osztalyok) { -%>
            <option value="<%= osztaly -%>"><%= osztaly -%></option>
          <% } -%>
        </select><br>

        <label for="kezd" class="mt-3">Dolgozat kezdete:</label>
        <input type="datetime-local" id="kezd" name="birthdaytime" onchange="idoValidator()"><br>

        <label for="vege" class="mt-3">Dolgozat vége:</label>
        <input type="datetime-local" id="vege" name="birthdaytime" onchange="idoValidator()"><br>

        <% if (hiba == 1) { %>
          <br><div class="hiba-alert">Még nem lett létrehozva osztály!</div>
        <% } %>

      </div>
    </div>
  </div>
</div>

<script>
  function timestampToDatetimeInputString(timestamp) {
    const date = new Date((timestamp + _getTimeZoneOffsetInMs()));
    // slice(0, 19) includes seconds
    return date.toISOString().slice(0, 19);
  }
  
  function _getTimeZoneOffsetInMs() {
    return new Date().getTimezoneOffset() * -60 * 1000;
  }

  function idoValidator() {
    if (Date.parse(document.getElementById("vege").value) < Date.parse(document.getElementById("kezd").value) || document.getElementById("vege").value == "") {
      document.getElementById("vege").value = timestampToDatetimeInputString(Date.parse(document.getElementById("kezd").value) + 2700000)
    }
  }
</script>

<%- include('../template/footer', {login: false}) -%>