<%- include('../template/header', {title: "Python kiegészítő"}) %>
<% if (typeof hiba == "undefined") hiba = 0 %>
<% if (typeof emberek == "undefined") emberek = 0 %>
  
<div class="row login-parent my-3">

  <%- include('../template/navbar', {active: 3}) -%>

  <div class="col-12 col-lg-10 h-100 pt-3 pt-lg-0">
    <div class="content">
        <h3>Osztály létrehozása</h3>

        <label for="vege" class="mt-4 mb-2">Osztály megnevezése:</label>
        <input type="text" id="megnevezes" name="birthdaytime" value="<% if (emberek != 0) { %><%= emberek[0].osztaly %><% } %>"><br>

        <label for="vege" class="mb-3">Diákok importálása txt-ből:</label>
        <input type="file" id="fajl" name="birthdaytime">

        <table class="table table-responsive-md table-striped table-dark">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Név</th>
                <th scope="col">Jelszó</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="sorok-parent">
                <% if (emberek != 0) { 
                    for (ember of emberek) { %>
                        <tr>    
                            <th scope="row" class="szam"></th>
                            <td><input type="text" id="ujnev" class="input-osztaly" style="width: 100%;" value="<%= ember.nev%>"></td>
                            <td><input type="text" id="ujjelszo" class="input-osztaly" style="width: 100%;" value="<%= ember.jelszo%>"></td>
                            <td><button type='button' class='btn btn-danger' onclick='this.parentElement.parentElement.remove()'>Törlés</button></td>
                        </tr>
                    <% } 
                } %>
                <tr>
                    <th scope="row" class="szam"></th>
                    <td><input type="text" id="ujnev" style="width: 100%;"></td>
                    <td><input type="text" id="ujjelszo" style="width: 100%;"></td>
                    <td><button type="button" class="btn btn-primary" onclick="hozzaad()">Hozzáadás</button></td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Mentés" onclick="mentes()">
        <input type="button" value="Vissza az osztályokhoz" class="ml-2" onclick="location.href = '/osztalyok/'"><br>

        <br><div id="valasz"></div>

        
        <script>
            //document.getElementById("siker-alert").style.display = "none"
            
            function hozzaad() {
                if (ujsor(document.getElementById("ujnev").value, document.getElementById("ujjelszo").value)) {
                    document.getElementById("ujnev").value = ""
                    document.getElementById("ujjelszo").value = ""
                }
            }

            document.getElementById('fajl')
                .addEventListener('change', function() {
                    
                var fr=new FileReader();
                fr.onload=function(){
                    emberek = fr.result.split("\r\n")

                    for (ember of emberek) {
                        ujsor(ember, ember.replaceAll(" ", "-") + "-ujjelszo")
                    }
                }
                
                fr.readAsText(this.files[0]);
            })

            function ujsor(nev,pass) {
                if (nev != "" && pass != "") {
                    table = document.getElementById("sorok-parent");
                    tr = table.insertRow(table.rows.length - 1);
                    th = tr.insertCell(0);
                    td1 = tr.insertCell(1);
                    td2 = tr.insertCell(2);
                    td3 = tr.insertCell(3);
                    
                    th.outerHTML = "<th scope'row' class='szam'></th>"
                    td1.innerHTML = "<input type='text' class='input-osztaly' value='" + nev + "' style='width: 100%;'>"
                    td2.innerHTML = "<input type='text' class='input-osztaly' value='" + pass + "' style='width: 100%;'>"
                    td3.innerHTML = "<button type='button' class='btn btn-danger' onclick='this.parentElement.parentElement.remove()'>Törlés</button>"
                    return true
                } else return false
            }
            
            function mentes() {
                if (document.getElementById("megnevezes").value == "") {
                    document.getElementById("valasz").innerHTML = `<div class="hiba-alert" id="siker-alert">Nincs megnevezve az osztály!</div>`
                } else if (document.getElementById("sorok-parent").rows.length < 2) {
                    document.getElementById("valasz").innerHTML = `<div class="hiba-alert" id="siker-alert">Nincs diák hozzáadva!</div>`
                } else {
                    szoveg = ""

                    table = document.getElementById("sorok-parent");
                    for (a = 1; a < table.rows.length; a++) {
                        u = document.querySelector("#sorok-parent > tr:nth-child(" + a + ") > td:nth-child(2) > input").value
                        p = document.querySelector("#sorok-parent > tr:nth-child(" + a + ") > td:nth-child(3) > input").value
                        if (a == table.rows.length - 1) szoveg += `{'user': '${u}', 'pass': '${p}'}`
                        else szoveg += `{'user': '${u}', 'pass': '${p}'},`
                    }

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            valasz = JSON.parse(this.responseText);
                            document.getElementById("valasz").innerHTML = `<div class="siker-alert" id="siker-alert">${valasz.answer}</div>`
                            
                            document.getElementById("siker-alert").style.display = "inline-block"
                        }
                    };
                    xhttp.open("POST", "/api/v1/osztaly/uj/" + ("{'osztaly': '" + document.getElementById("megnevezes").value + "', 'emberek': [" + szoveg + "]}").replaceAll("'", '"'), true);
                    xhttp.send();
                }
            }
        </script>



    </div>
  </div>
</div>

<%- include('../template/footer', {login: false}) -%>